{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Réinitialiser votre mot de passe - Encountr{% endblock %}</title>
</head>
<body>
	{% block section %}
		<h1>Réinitialiser votre mot de passe</h1>
		<p>Rentrez votre adresse mail ci-dessous et nous vous enverrons des instructions pour le réinitialiser.</p>
		<form action = "" method="POST">
			{% csrf_token %}
			<p>Email</p>
			{{form.email}}
			<input type="submit" value="M'envoyer un email">
		</form>
	{% endblock %}
</body>
</html>