{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Nouveau mot de passe - Encountr{% endblock %}</title>
</head>
<body>
	{% block section %}
		<h1>Nouveau mot de passe</h1>
		<p>Entrez votre nouveau de passe et retapez-le afin de continuer.</p>
		<form method="POST">
			{% csrf_token %}
			<p>Votre nouveau mot de passe</p>
			{{form.new_password1}}
			<p>Confirmez votre mot de passe</p>
			{{form.new_password2}}
			<input type="submit" value="Valider">
		</form>
	{% endblock %}
</body>
</html>