{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}E-mail envoyé - Encountr{% endblock %}</title>
</head>
<body>
	{% block section %}
		<h1>E-mail de réinitialisation de mot de passe envoyé</h1>
		<p>Nous vous avons envoyé par e-mail des instructions pour définir votre nouveau mot de passe, si un compte existe avec l'e-mail fourni. Si vous ne l'avez pas reçu, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.</p>
	{% endblock %}
</body>
</html>