{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}S'inscrire - Encountr{% endblock %}</title>
</head>
<body>
	{% block section %}
		<h1>S'inscrire</h1>
		{{form.errors}}
		<form action = "" method = "POST" cf-form>
			{% csrf_token %}
			<p cf-question>Email</p>
			{{form.email}}
			<p>Prénom</p>
			{{form.first_name}}
			<p>Mot de passe</p>
			{{form.password1}}
			<p>Confirmation du mot de passe</p>
			{{form.password2}}
			<input type="submit" value="Valider">
		</form>
		<p>Vous êtes déjà inscrit ? <a href="../login">Connectez-vous</a></p>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@1.0.1/dist/conversational-form.min.js" crossorigin></script>
	{% endblock %}
</body>
</html>