{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Accueil - Encountr{% endblock %}</title>
	{% block urls %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js">
	<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
	<script src="https://kit.fontawesome.com/f9b1712bea.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	{{ form.media }}
	{% endblock %}
</head>
<body>
	{% block header %}
	<div class="container-fluid">
		<div class = "row">		
			<div class="col-2" id = "logo"><a href="{% url 'homePage' %}"><img src="{% static 'royaltylogobar.png' %}"></a></div>
			<label for ="toggle">&#9776;</label>
			<input type="checkbox" id="toggle">	
			<div class="col" id = "navbar">
				<a href="#">Télécharger</a>
				<a href="#fonctionnement">Fonctionnement</a>
				{% if user.is_authenticated %}
				<a href="{% url 'profilePage' %}">Votre profil</a>
				{% else %}
				<a href="#loginregister">Se connecter / S'inscrire</a>
				{% endif %}
			</div>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block section %}
	<div class = 'hero-image'>
		<div class='container'>
			<h1>Commençons à travailler <br> ensemble.</h1><br>
			<div class="icon-scroll"></div>
		</div>
	</div>
	<section class="sec" id ="fonctionnement">
		<div class="content">
			<div class="textbox">
				<h2 id='title'>Je veux postuler</h2>
				<p id = 'text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="imgbox">
				<img src="{% static 'pages/jepostule.svg' %}" class = 'imgsec'>
			</div>
		</div>
		<ul class='thumb'>
			<li><img src="{% static 'pages/jepostule.svg' %}" width = "80px" onclick='imgSlider("{% static 'pages/jepostule.svg' %}"); changeBgColor("#C8B59A") ; changeH1()'></li>
			<li><img src="{% static 'pages/jerecrute.svg' %}" width = "80px" onclick='imgSlider("{% static 'pages/jerecrute.svg' %}"); changeBgColor("#000"); changeH2() '></li>
			<li><img src="{% static 'pages/jemassocie.svg' %}" width = "80px" onclick='imgSlider("{% static 'pages/jemassocie.svg' %}"); changeBgColor("#F4F2EF") ; changeH3()'></li>
		</ul>
	</section>
	{% if user.is_authenticated%}
	{% else %}
	<section class="secform" id = "loginregister">
		<div class="containerform">
			<div class="forms-container">
				<div class="signin-signup">
					<form class="sign-in-form" action = "{% url 'login' %}" method = "POST">
						{%csrf_token%}
						{% for message in messages %}
						{{message}}
						{% endfor %}
						<h2 class="titleform">Se connecter</h2>
						<div class="input-fields">
							<i class="fas fa-envelope-open"></i>
							<input type="email" name = "email" placeholder="Votre e-mail">
						</div>
						<div class="input-fields">
							<i class="fas fa-lock"></i>
							<input type="password" name = "password" placeholder="Votre mot de passe">
						</div>
						<input type="submit" value="Valider" class = "button-form">
					</form>

					<form class="sign-up-form" action = "" method = "POST" id = "signupform">
						{% csrf_token %}
						{{form.errors}}
						<h2 class="titleform">S'inscrire</h2>
						<div class="input-fields">
							<i class="fas fa-user"></i>
							<p class = "roletext">Vous recherchez  {{form.role}}</p>
						</div>
						<div class = "names">
							<div class="name-input-fields">
								<i class="fas fa-user"></i>
								{{form.first_name}}
							</div>
							<div class="name-input-fields">
								<i class="fas fa-user"></i>
								{{form.last_name}}
							</div>
						</div>
						<div class="input-fields">
							<i class="fas fa-envelope-open"></i>
							{{form.email}}
						</div>
						<div class="input-fields">
							<i class="fas fa-birthday-cake"></i>
							{{form.birthdate}}
						</div>
						<div class="input-fields">
							<i class="fas fa-lock"></i>
							{{form.password1}}
						</div>
						<div class="input-fields">
							<i class="fas fa-lock"></i>
							{{form.password2}}
						</div>

						<input type="submit" value="Valider" class = "button-form">
					</form>
				</div>
			</div>
			<div class="panels-container">
				<div class="panel left-panel">
					<div class="contentform">
						<h3>Première visite ?<h3>
						<p class = 'buttontext'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
						<button class = "button-form transparent" id = "sign-up-btn">S'inscrire</button>
					</div>
					<img src="{% static 'pages/registerimage.svg' %}" class="image">
				</div> 
				
				<div class="panel right-panel">
					<div class="contentform">
						<h3>Déjà parmi nous ?<h3>
						<p class = 'buttontext'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
						<button class = "button-form transparent" id = "sign-in-btn">Se connecter</button>
					</div>
					<img src="{% static 'pages/loginimage.svg' %}" class="image">
				</div> 
			</div>	
		</div>
	</section>
	{% endif %}
	
	<script type="text/javascript">
		function imgSlider(anything){
			document.querySelector('.imgsec').src = anything;
		}

		function changeBgColor(color){
			const sec = document.querySelector('.sec');
			sec.style.background = color;
		}

		function changeH1(){
			let title = document.getElementById('title');
			let text = document.getElementById('text');
			title.textContent = 'Je veux postuler';
			title.style.color = '#000';
			text.style.color = '#F4F2EF';
		}

		function changeH2(){
			let title = document.getElementById('title');
			let text = document.getElementById('text');
			title.textContent = 'Je veux recruter';
			title.style.color = '#F4F2EF';
			text.style.color = '#C8B59A';
		}

		function changeH3(){
			let title = document.getElementById('title');
			let text = document.getElementById('text');
			title.textContent = "Je veux m'associer";
			title.style.color = '#C8B59A';
			text.style.color = '#0F1E6D'
		}
	</script>
	<script>
	  $(function () {
	    $("#id_date").datepicker({
	      format:'dd/mm/yyyy',
	      uiLibrary : 'bootstrap4', iconsLibrary:'materialicons',
	    });
	  });
	</script>
	  <script>
        $('#datepicker').datepicker();
    </script>
	<script type="text/javascript" src="{% static 'pages/home.js' %}"></script>
	{% endblock %}
</body>
</html>