{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block bootstrap %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width">
	<link rel = "shortcut icon" type='image/png' href = "{% static 'favicon/favicon.ico' %}"/>
	{% endblock %}
	{% block urls %}
	{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block header %}
	<div class="container-fluid">
		<div class = "row">		
			<div class="col-2" id = "logo"><a href="{% url 'homePage' %}"><img src="{% static 'royaltylogobar.png' %}"></a></div>
			<label for ="toggle">&#9776;</label>
			<input type="checkbox" id="toggle">	
			<div class="col" id = "navbar">
				<a href="#">Télécharger</a>
				<a href="{% url 'homePage' %}#fonctionnement">Fonctionnement</a>
				{% if user.is_authenticated %}
				<a href="{% url 'profilePage' %}">Votre profil</a>
				{% else %}
				<a href="{% url 'homePage' %}#loginregister">Se connecter / S'inscrire</a>
				{% endif %}
			</div>
			</div>
		</div>
	</div>
	{% endblock %}

	{% block section %}
	{% endblock %}

	{% block footer %}
	{% endblock %}

	{% block bootstrapjs %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	{% endblock %}
</body>
</html>